.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
  background-color: orange;
  color: brown;
  margin: 0 auto 10px auto;
  width: 400px;
  text-align: center;
  font-size: 3rem;
}
.input {
  margin: 15px 5px;
  text-align: center;
}
.center {
  text-align: center;
}

.red {
  background-color: red;
  width: 50px;
  height: 50px;
}
.orange {
  background-color: orange;
  width: 50px;
  height: 100px;
}
.yellow {
  background-color: yellow;
  width: 50px;
  height: 150px;
}
.green {
  background-color: green;
  width: 50px;
  height: 200px;
}
.blue {
  background-color: blue;
  width: 50px;
  height: 250px;
}
.navy {
  background-color: navy;
  width: 50px;
  height: 300px;
}
.purple {
  background-color: purple;
  width: 50px;
  height: 350px;
}
.flex {
  display: flex;
}

.circle {
  border-radius: 50px;
}
.head {
  background-color: blue;
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;
  left: 20px;
}
.white {
  background-color: white;
  width: 40px;
  height: 40px;
  position: relative;
  top: 15px;
  left: 20px;
}
.black {
  background-color: black;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}
.neck {
  background-color: skyblue;
  width: 100px;
  height: 100px;
  position: relative;
  left: 70px;
}
.body1 {
  background-color: red;
  width: 100px;
  height: 100px;
  position: relative;
  top: 40px;
  left: 40px;
  z-index: 1;
}
.body2 {
  background-color: green;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 90px;
  z-index: 1;
}
.body3 {
  background-color: yellow;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 150px;
  z-index: 3;
}
.img {
  z-index: 2;
  position: relative;
}
